<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý cơ sở dữ liệu rừng</title>
    <!-- BOOTSTRAP STYLES-->
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link th:href="@{/assets/css/custom.css}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans}' rel='stylesheet' type='text/css' />
</head>
<body>
     
           
          
    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/home}"><i class="fa fa-home "></i> HOME</a>

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/logout}">LOGOUT</a></li>

                    </ul>
                </div>

            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center user-image-back">
                        <img th:src="@{/assets/img/find_user.png}" class="img-responsive" />

                    </li>
                    <li>
                        <a th:href="@{/rungs/get}"><i class="fa fa-table "></i>Quản lý hiện trạng rừng</a>
                    </li>
                    <li>
                        <a th:href="@{/chu/get}"><i class="fa fa-table "></i>Quản lý chủ rừng</a>
                    </li>
                    <li>
                        <a th:href="@{/dvhc/huyen}"><i class="fa fa-table "></i>Đơn vị hành chính</a>
                    </li>

                    <li>
                        <a th:href="@{/user/get}"><i class="fa fa-desktop "></i>Danh sách Người dùng</a>
                    </li>


                    <li>
                        <a th:href="@{/rungs/loaicay/}"><i class="fa fa-table "></i>Loại cây</a>

                    </li>

                    <li>
                        <a th:href="@{/rungs/truluong/}"><i class="fa fa-table "></i>Trữ lượng</a>
                    </li>
                    <li>


                    <li>
                        <a th:href="@{/rungs/dieukien/}"><i class="fa fa-table "></i>Điều kiện lập địa</a>
                    </li>
                    <li>
                        <a th:href="@{/rungs/nguongoc/}"><i class="fa fa-table "></i>Nguồn Gốc</a>
                    </li>
                </ul>


            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">

                        <div th:if="${rung.id == null}">
                            <h2> Tạo mới </h2>
                        </div>

                        <div th:unless="${rung.id == null}">
                            <h2> Cập nhật </h2>
                        </div>


                        <form action="/rungs/save" th:object="${rung}">
                            <input type="hidden" th:field="*{id}" th:value="${rung.id}">
                            <div class="form-group">
                                <label>Tên</label>
                                <input class="form-control" type="text" placeholder="Tên" th:field="*{name}"/>

                                <label>Diện tích</label>
                                <input class="form-control" type="number" placeholder="Diện tích" th:field="*{dienTich}"/>

                                <label>Tọa độ</label>
                                <input class="form-control" type="text" th:field="*{toaDo}"/>

                                <label>Nguồn gốc</label>
                                <select th:field="*{nguonGoc}" class="form-control">
                                    <th:block th:each="s : ${nguonGocList}">
                                        <option th:text="${s.name}" th:value="${s.id}">
                                        </option>
                                    </th:block>
                                </select>

                                <label>Điều kiện</label>
                                <select th:field="*{dieuKien}" class="form-control">
                                    <th:block th:each="s : ${dieuKienList}">
                                        <option th:text="${s.name}" th:value="${s.id}">
                                        </option>
                                    </th:block>
                                </select>

                                <label>Loại cây</label>
                                <select th:field="*{loaiCay}" class="form-control">
                                    <th:block th:each="s : ${loaiCayList}">
                                        <option th:text="${s.name}" th:value="${s.id}">
                                        </option>
                                    </th:block>
                                </select>

                                <label>Loại mục đích</label>
                                <select th:field="*{loaiMucDich}" class="form-control">
                                    <th:block th:each="s : ${loaiMucDichList}">
                                        <option th:text="${s.mucDich.name + '-' + s.name}" th:value="${s.id}">
                                        </option>
                                    </th:block>
                                </select>

                                <label>Chủ</label>
                                <select th:field="*{chu}" class="form-control">
                                    <th:block th:each="s : ${chuList}">
                                        <option th:text="${s.name}" th:value="${s.id}">
                                        </option>
                                    </th:block>
                                </select>

                                <label>Trữ lượng</label>
                                <select th:field="*{truLuong}" class="form-control">
                                    <th:block th:each="truLuong : ${truLuongList}">
                                        <option th:text="${truLuong.name}" th:value="${truLuong.id}">
                                        </option>
                                    </th:block>
                                </select>


                                <label>Địa chỉ</label>
                                <select th:field="*{dvhc}" class="form-control">
<!--                                   <option th:each="entry : ${listMap}" th:value="${entry.key}" th:text="${entry.key}">-->
<!--                                   </option>-->
                                    <option th:each="x:${xaList}" th:value="${x.id}" th:text="${x.name} + ' - ' + ${x.parent.name} ">

                                    </option>
                                </select>


                                <a th:href="@{/rungs/get}" type="button" class="btn btn-default" style="font-size: 16px; margin-top: 12px; margin-left: 6px; float: right"> Cancel
                                </a>
                                <button type="submit" class="btn btn-info" style="font-size: 16px; margin-top: 12px; float: right" > SAVE
                                </button>


                            </div>
                        </form>
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
              
                 <!-- /. ROW  -->           
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script th:src="@{/assets/js/jquery-1.10.2.js}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- METISMENU SCRIPTS -->
    <script th:src="@{/assets/js/jquery.metisMenu.js}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script th:src="@{/assets/js/custom.js}"></script>


</body>
</html>
